.aboutBody .row {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 50px;
}

.aboutBody .col-sm-6 {
    margin: auto;
}

.aboutBody p {
    line-height: 1.9;
}

.aboutBody .officers p {
    text-align: left;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.5;
}

.aboutBody ul li {
    line-height: 2.5;
    text-align: left;
}

.aboutBody ul li a {
    color: #558fed;
    font-size: 18px;
    text-decoration: none;
}

.aboutBody iframe {
    box-shadow: 0 0 20px #8d8787;
    margin-bottom: 30px;
    transition: .5s ease;
}