.galleryBody {
    text-align: center;
    width: 100%;
}

.galleryBody img {
    width: 85%
}

.galleryBody .studentboard p {
    text-align: left;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.5;
}

.galleryBody .col-sm-6 {
    margin: auto;
}