.sponsorsBody h1 {
    color: #c62929;
}

.sponsorsBody a:hover h2 {
    color: #558fed;
    font-size: 18px;
    transition: .6s ease;
}

.sponsorsBody a:hover img {
    box-shadow: 0 2px 50px #558fed;
}

.sponsorsBody h2 {
    color: #ffffff;
    font-size: 9px;
}